/node_modules
/public
/storage
/vendor
/bootstrap
.env
.env.backup
README.md
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
server.php
phpunit.xml
webpack.mix.js
.editorconfig
.styleci.yml
app/Console
app/Exceptions
app/Providers
tests
